#gradePesquisa {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    height: auto; 
}

.gradeCard {
    width: 250px; 
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    #gradePesquisa .gradeCard {
        width: calc(100% - 20px);
    }
}
